# Dossiers bin et obj
bin/
obj/

# Fichiers de logs et caches
*.log
*.cache
*.tmp

# Configuration utilisateur
.vs/
*.user
*.suo
*.vscode

# Fichiers secrets (⚠️ Ne jamais committer les clés API en dur)


# Dépendances de Build
*.dll
*.exe
*.pdb
*.json
*.xml
*.runtimeconfig.json
*.staticwebassets.runtime.json

# Publish Output
out/
publish/
